body{
    background-color:rgb(215, 219, 226);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box-1{
    width: 610px;
    height: 300px;
    border: rgba(185, 153, 176, 0.479) solid ;
    position: relative ;left: 620px;
    border-radius: 10px;
    color: rgb(25, 11, 39);
    font-size: 150%;    
}

h1{
    text-align: center;
}

a{
    position: relative; left: 200px;top: 40px;
    font-size: 150%;
}

a:hover{
    color: rgb(62 , 74, 112);
}

.Register{
    position: relative;left: 1600px;top: -420px;
    font-size: 120%;
    color: rgb(129, 138, 161);
} 

.Register:hover{
    color: rgb(62, 74, 112);
}

.Login{
    position: relative;left: 1600px;top: -420px;
    font-size: 120%;
    color: rgb(129, 138, 161);
} 

.Login:hover{
    color: rgb(62, 74, 112);
}
