<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿平台</title>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet" />
</head>
<body>
    <h1>
        submission_platform
    </h1>
    <div class="box-1">
        what u want say?>
    </div>
    <a href="Contribute.html">Post a message here >!</a>
    <div class="Register">
        <a href="register.html">Register</a>
    </div>
    <div class="Login">
        <a href="login.html">Login</a>
    </div>
</body>
</html>