<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href={{ url_for("static",filename='css/contribute_.css')}} rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <form  method="post" action={{ url_for('register_') }}>
            <h1>
                Register
            </h1>
            <label for="email">帳號:</label>
            <input type="text" id="email" placeholder="請輸入帳號">
        
            <br>
        
            <label for="password">密碼:</label>
            <input type="text" id="password" placeholder="請輸入密碼">
        
            <br>
        
            <button type="submit">註冊</button>
        </form>
    </div>
</body>
</html>